* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Ubuntu Mono";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Ubuntu Mono";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1a1a1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body._lock {
  overflow: hidden;
}

.container {
  width: 90%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  background: #282828;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promise {
  position: relative;
}

.words {
  position: absolute;
  right: -8px;
  top: 275px;
  background: white;
  color: black;
  width: 200px;
  padding: 15px 25px;
  border-radius: 25%;
  border-top-left-radius: 0;
  font-size: 22px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid white;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-size: 26px;
}

.btn:hover {
  text-shadow: white 1px 0 13px;
  -webkit-box-shadow: white 1px 0 13px;
          box-shadow: white 1px 0 13px;
}

.btn__load {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container__btns {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}

.section__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home {
  display: none;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.home.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__avatar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
}

.home__avatar-image {
  width: 100%;
  height: auto;
}

.home__btn {
  margin-top: 45px;
}

.home__name {
  font-size: 50px;
  text-align: center;
}

.home__about {
  font-size: 35px;
  margin-top: 30px;
}

.home__download {
  margin-top: 40px;
}

.section__projects {
  display: none;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.section__projects.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  height: 58vh;
  overflow-y: auto;
}

.projects__container::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}

.projects__container::-webkit-scrollbar-track {
  background-color: transparent;
}

.projects__container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 9px rgb(0, 0, 0);
          box-shadow: inset 0 0 9px rgb(0, 0, 0);
}

.item {
  position: relative;
}

.item__image {
  width: 100%;
  height: auto;
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  padding: 5px;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: 3px solid #282828;
  cursor: pointer;
}

.info:hover {
  -webkit-box-shadow: white 1px 0 13px;
          box-shadow: white 1px 0 13px;
}

.section__contacts {
  display: none;
}

.section__contacts.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__title {
  font-size: 50px;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.contacts__help {
  position: absolute;
  bottom: -60%;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(0, 0);
      -ms-transform: translate(-50%, 0) scale(0, 0);
          transform: translate(-50%, 0) scale(0, 0);
  background-color: #fff;
  padding: 5px 10px;
  color: #000;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 15px #fff;
          box-shadow: 0px 0px 15px #fff;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.contact__list-item {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  position: relative;
}

.contact__list-item:hover {
  -webkit-box-shadow: white 1px 0 13px;
          box-shadow: white 1px 0 13px;
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

.contact__list-item:hover .contacts__help {
  opacity: 1;
  -webkit-transform: translate(-50%, 0) scale(1, 1);
      -ms-transform: translate(-50%, 0) scale(1, 1);
          transform: translate(-50%, 0) scale(1, 1);
}

.contact__list-item:not(:last-child) {
  margin-right: 30px;
}

.contact__list-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__list-img {
  width: 60%;
  height: auto;
}

.modal {
  position: absolute;
  z-index: 100;
  width: 830px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0, 0) translate(-50%, -50%);
      -ms-transform: scale(0, 0) translate(-50%, -50%);
          transform: scale(0, 0) translate(-50%, -50%);
  background: #3A3D3B;
  height: auto;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 40px;
  opacity: 0;
}

.modal.active {
  opacity: 1;
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
      -ms-transform: scale(1, 1) translate(-50%, -50%);
          transform: scale(1, 1) translate(-50%, -50%);
}

.modal__shadow {
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.modal__shadow.active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(94, 92, 92, 0.3);
  opacity: 1;
}

.modal__title {
  font-size: 50px;
  text-align: center;
}

.modal__about {
  font-size: 32px;
  margin-top: 30px;
}

.modal__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}

.modal__list li {
  position: relative;
  font-size: 26px;
}

.modal__list li:not(:last-child) {
  margin-right: 60px;
}

.modal__list li:not(:last-child)::after {
  position: absolute;
  right: -35px;
  content: "|";
}

.modal__urls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  font-size: 18px;
}

.modal__github {
  overflow: hidden;
}

.modal__github:hover {
  text-shadow: white 1px 0 13px;
}

.modal__url {
  overflow: hidden;
}

.modal__url:hover {
  text-shadow: white 1px 0 13px;
}

@media (max-width: 1440px) {
  .words {
    font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
  }

  .btn {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1120));
  }

  .home__name {
    font-size: calc(20px + 30 * ((100vw - 320px) / 1120));
  }

  .home__about {
    font-size: calc(18px + 17 * ((100vw - 320px) / 1120));
  }

  .contacts__title {
    font-size: calc(35px + 15 * ((100vw - 320px) / 1120));
  }

  .contacts__help {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  }

  .modal__title {
    font-size: calc(28px + 22 * ((100vw - 320px) / 1120));
  }

  .modal__about {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1120));
  }

  .modal__list li {
    font-size: calc(18px + 8 * ((100vw - 320px) / 1120));
  }

  .modal__urls {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 992px) {
  .section__home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home__avatar-image {
    width: 300px;
    height: 300px;
  }

  .home__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }

  .modal {
    width: 400px;
  }
}

@media (max-width: 680px) {
  .promise {
    width: 150px;
  }

  .words {
    width: 150px;
    top: 180px;
  }
}

@media (max-width: 550px) {
  .promise {
    display: none;
  }

  .words {
    display: none;
  }

  .home__avatar-image {
    width: 230px;
    height: 230px;
  }

  .contacts {
    padding: 40px;
  }
}

@media (max-width: 475px) {
  .modal {
    width: 280px;
  }

  .modal__list li:not(:last-child) {
    margin-right: 30px;
  }

  .modal__list li:not(:last-child)::after {
    right: -17px;
  }
}

@media (max-width: 450px) {
  .contact__list-item {
    width: 50px;
    height: 50px;
  }

  .contact__list-item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 420px) {
  .btn {
    padding: 10px 14px;
  }
}